{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}?{% now "U" %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}

        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address><a href="mailto:{{ post.author.email }}">By {{ post.author }}</a></address>
            <div>
                Last updated on
                <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id="comment_form">
        <h2>Type a Comment</h2>
        <form method="POST" action="{% url "post-detail-page" post.slug %}">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>SAVE COMMENT</button>
        </form>
    </section>
{% endblock %}