{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}?{% now "U" %}">

    {% block css_files %}{% endblock %}
</head>
<body>
<header id="main-navigation">
    <h1><a href="{% url 'starting-page' %}">Kratika's Blog</a></h1>
    <nav>
        <a href="{% url 'read-later' %}">Read Later</a>
        <a href="{% url 'post-page' %}">All Posts</a>
    </nav>
</header>
{% block content %}

{% endblock %}
</body>
</html>